@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'VT323', monospace;
}

body {
  background: #ccc;
  color: #ececec;
  min-height: 100vh;
  font-weight: 400;
  letter-spacing: 1px;
}

em {
  opacity: 0.5;
  font-size: 50%;
}
.update-button, .delete-button {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 5px;
  position: relative;
}

.update-button span, .delete-button span {
  font-size: 36px; 
}

.delete-button{
  color: #b55168;
}

.update-button{
  color: #02b1c8;
}

.close-sesion {
  background-color: #9e10b7;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  align-items: flex-start;
  font-weight: bold;
  display: flex;
  position: absolute; 
  top: 20px; 
  left: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(139, 50, 222, 0.5);
}

.close-sesion:hover{
  background-color: #8f0da6;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(139, 50, 222, 0.5);
}

.add-character-btn {
  background-color: #32de84;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  align-items: flex-start;
  font-weight: bold;
  display: flex;
  position: absolute; 
  top: 20px; 
  right: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(50, 222, 132, 0.5);
}

.add-character-btn:hover {
  background-color: #29b372;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(50, 222, 132, 0.7);
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  width: 80%;
  height: auto;
  padding: 40px 0;
}

.carousel {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
  overflow: visible; 
}
  
  .poster {
    width: 225px;
    margin: 0 15px; 
    flex-shrink: 0;
    text-align: center;
    border: 2px solid #00ddff;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    background: #111;
  }

  .poster {
    cursor: pointer;
    transition: transform 300ms ease-in-out;
  }
  
  .poster:hover {
    transform: scale(1.25);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5); 
    box-shadow: 0 8px 20px 5px rgba(66, 236, 255, 0.5);
  }

  .poster__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}
  .poster__overlay button:hover {
      transform: scale(1.2);
  }

  .poster__title {
    margin-top: 30px;
    font-size: 18px;
    color: #00ddff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    visibility: visible !important;
    opacity: 1 !important;
    transition: opacity 0.3s ease; 
  }
  
  .carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00ddff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #1b1b1b;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .carousel-prev:hover, .carousel-next:hover {
    transform: translateY(-50%) scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 221, 255, 0.7); 
}
  
  .carousel-prev {
    left: -20px;
  }
  
  .carousel-next {
    right: -20px;
  }


.background-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(100% + 50px);
  height: calc(100% + 50px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("https://images7.alphacoders.com/633/thumb-1920-633221.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.content {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1;
}


.poster__image {
  position: relative;
  width: 225px;
  height: 350px;
  background: #000;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  transition: box-shadow 300ms;
}

.poster__title {
  position: relative;
  top: -20px;
  font-size: 20px;
  opacity: 0;
  text-align: center;
  z-index: 1;
  transition: top 300ms, opacity 200ms;
}
